/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color-title: #000028;
  --text-color-description: #F1B2CE;
  --other-text-color: #FF0070;
  --bd-out-but: 1px solid #FF0070;
  --bg-color-title: #FF0070;
  --color-slogan: #DB00FF;
  --text-shadow-slogan: 4px 4px 0px #FF0070;
  --text-shadow-link: 2.5px 2px 0px #FF0070;
  --border-color-frame: #FF0070;
  --display-bulb: block;
  --bg-img: url('../images/cover-image-dark.png');
  --bg-color: #000028;
}