/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color-title: #353430;
  --text-color-description: #353430;
  --bg-color-title: #FF8DCB;
  --color-slogan: #FFC2E6;
  --text-shadow-slogan: 4px 4px 0px #FF8DCB;
}