/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font-family);
  font-size: var(--font-size);
  width: 100%;
}

body {
  background-color: var(--bg-color);
}

.decorated-zone {
  height: 100vh;
}

.header__theme-menu {
  position: relative;
  width: 70px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  color: var(--other-text-color);
}

.header__theme-menu-button {
  border: 0;
  padding: 1.5px 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__theme-menu-button_active {
  border: var(--bd-out-but);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: var(--bd-focus-but);
}

.header__theme-menu-button:hover {
  outline: none;
  border: var(--bd-hover-but);
}

.link-to-the-article {
  text-decoration: none;
  text-shadow: var(--text-shadow-link);
}

.link-to-the-article:hover {
  border-bottom: var(--bd-hover-link);
}

.link-to-the-article:focus {
  outline: var(--bd-focus-link);
}

@media (width >768px) {
  .decorated-zone {
    min-height: 768px;
    display: grid;
    align-items: center;
    max-width: 984px;
    margin: 0 auto;
  }

  .header::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    padding-top: 20px;
    width: 230px;
    justify-self: center;
    align-self: start;
  }

  .slogan {
    font-size: 157px;
    line-height: 83%;
    color: var(--color-slogan);
    text-shadow: var(--text-shadow-slogan);
    font-weight: var(--font-weight-main-text);
  }

  .cover__description {
    background-color: var(--bg-color-title);
    width: 50%;
    height: auto;
    justify-self: end;
  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family);
  }

  .section__container {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 20px;
  }

  .container__article {
    display: grid;
    gap: 10px;
  }

  .container__article-image {
    display: grid;

  }

  .section__information {
    display: grid;
    gap: 10px;
    grid-template-rows: 23px 1fr;
  }

  .what-reduces-concentration__container__aarticle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .why-is-it-so-difficult {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .recommendations {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-row: 1 / 2;
    color: var(--other-text-color);
    font-size: var(--font-size);
  }


  .main-title__what {
    width: 315px;
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }



  .regular-title-section__information {
    font-weight: normal;
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .section__container-img {
    max-width: 984px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 10px;
  }

  .images-of-tips {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .container__article-image {
    margin: 0 auto;
    max-width: 984px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
    ;
  }

  .footer::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top: 20px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer {
    position: relative;
    margin: 0 auto;
    max-width: 984px;
    min-height: 668px;
    margin-top: 40px;
    display: grid;
    justify-content: center;
  }
}

@media (width <=768px){
  .decorated-zone {
    min-height: 1024px;
    display: grid;
    align-items: center;
    max-width: 728px;
    margin: 0 auto;
  }

  .header::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .header__theme-menu {
    justify-self: end;
  }

  .slogan {
    font-size: 116px;
    line-height: 83%;
    color: var(--color-slogan);
    text-shadow: var(--text-shadow-slogan);
    font-weight: var(--font-weight-main-text);
  }

  .cover__description {
    background-color: var(--bg-color-title);
    max-width: 364px;
    height: auto;
    justify-self: end;
  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family);
  }

  .section__container {
    max-width: 728px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 20px;
  }

  .container__article {
    display: grid;
    gap: 10px;
  }

  .container__article-image {
    display: grid;

  }

  .why-is-it-so-difficult {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .recommendations {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    grid-row: 1 / 2;
    color: var(--other-text-color);
    font-size: var(--font-size);
  }

  .section__information {
    display: grid;
    gap: 10px;

  }

  .main-title__what {
    max-width: 236px;
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }

  .regular-title-section__information {
    font-weight: normal;
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .section__container-img {
    max-width: 728px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 10px;
  }

  .images-of-tips {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .container__article-image {
    margin: 0 auto;
    max-width: 728px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
    ;
  }

  .footer::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top: 20px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer {
    position: relative;
    margin-top: 40px;
    display: grid;
    justify-content: center;
  }
}

@media (width <=375px) {
  .decorated-zone {
    min-height: 668px;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 355px;
    margin: 0 auto;
  }

  .header::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .header::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .slogan {
    font-size: 116px;
    line-height: 83%;
    color: var(--color-slogan);
    text-shadow: var(--text-shadow-slogan);
    font-weight: var(--font-weight-main-text);
  }

  .cover__description {
    background-color: var(--bg-color-title);
    height: auto;

  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family);
  }

  .section__container {
    max-width: 355px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 20px;
  }

  .section__title {
    color: var(--other-text-color);
    font-size: var(--font-size);
  }

  .section__information {
    display: grid;
    gap: 10px;
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }

  .regular-title-section__information {
    font-weight: normal;
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .section__container-img {
    max-width: 355px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 10px;
  }

  .section__image {
    max-width: 355px;
  }

  .images-of-tips {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top: 20px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer {
    position: relative;
    margin-top: 40px;
  }
}