/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: var(--main-font-family), monospace, serif;
  font-size: var(--font-size);
  width: 100%;
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
}

.decorated-zone {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 auto;
}

.header__theme-menu {
  position: relative;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
    color: var(--other-text-color);
  }

.header__theme-menu-button {
  text-transform: lowercase;
  border: 0;
  padding: 1.5px 13px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 70px;
}

.header__theme-menu-button_active {
  outline: var(--bd-out-but);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  border-bottom: var(--bd-focus-but);
}

.header__theme-menu-button:hover {
  outline: var(--bd-hover-but);
}

.link-to-the-article {
  text-decoration: none;
  text-shadow: var(--text-shadow-link);
}

.link-to-the-article:hover {
  border-bottom: var(--bd-hover-link);
}

.link-to-the-article:focus {
  outline: var(--bd-focus-link);
}




@media (width >=375px) {
  .decorated-zone {
    min-height: 668px;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 10px;
    right: 18px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
    right: 10px;
    bottom: 10px;
    margin-top: 40px;
  }

  .slogan {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
    color: var(--color-slogan);
    text-shadow: var(--text-shadow-slogan);
    font-weight: var(--font-weight-main-text);
  }

  .main__page__title {
    padding-left: 10px;
    margin-top: 5px;
  }

  .cover__description {
    position: relative;
    background-color: var(--bg-color-title);
    height: auto;
    align-self: flex-start;
    justify-self: end;
    max-width: 355px;
    margin-top: 38px;
    margin-right: 10px;
  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family), monospace, serif;
  }

  .content {
    display: grid;
    gap: 50px;
    margin-top: 40px;
  }

  .section__container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    margin: 0 10px;
  }

  .section__title {
    color: var(--other-text-color);
    font-size: var(--font-size);
  }

  .container__article {
    gap: 20px;
    display: grid;
  }

  .section__information {
    display: grid;
    gap: 10px;
    line-height: 23.4px;
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }

  .regular-title-section__information {
    font-weight: normal;
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .section__container-img {
    max-width: 100%;
    margin: 0 10px;
    display: grid;
    gap: 10px;
  }

  .container__article-image {
    display: grid;
    gap: 9.5px;
  }
   .container__article-image {
    display: grid;
    justify-content: center;
  }

  .images-of-tips {
    max-width: 100%;
    height: a;
    object-fit: contain;
    justify-self: center;
  }

 
  .footer.decorated-zone::after {
    content: "";
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    top: 10px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer.decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10px;
    left: 10px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title-in-footer .main__page__title {
    margin-top: 0px;
    padding-left: 0px;
  }
}


@media (width >=768px) {
  .decorated-zone {
    min-height: 1024px;
    grid-template-columns: 1fr;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer.decorated-zone::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top: 20px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer.decorated-zone::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }


  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: end;
    height: auto;
    margin-bottom: 41px;
    margin-right: 10px;
  }

  .main__page__title {
    padding-left: 0px;
  }

  .slogan {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
    color: var(--color-slogan);
    text-shadow: var(--text-shadow-slogan);
    font-weight: var(--font-weight-main-text);
  }

  .main-title-in-footer {
    display: grid;
    justify-content: center;
  }

  .cover__description {
    position: relative;
    background-color: var(--bg-color-title);
    max-width: 47.5%;
    height: auto;
    justify-self: end;
    align-self: start;
    margin-right: 20px;
  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family), monospace, serif;
  }

  .content {
    display: grid;
    gap: 80px;
    margin-top: 60px;
  }

  .section__container {
    margin: 0 20px;
    display: grid;
    gap: 20px;
  }

  .container__article {
    display: grid;
    gap: 20px;
  }

  .why-is-it-so-difficult {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .recommendations {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
  }

  .section__title {
    max-width: 315px;
  }

  .section__information {
    display: grid;
    gap: 10px;
    line-height: 23.4px;
  }

  .what-reduces-concentration__container__aarticle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .why-is-it-so-difficult {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2.1fr;
  }

  .recommendations {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2.1fr;
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }

  .title-section__information {
    background-color: var(--bg-color-title);
    color: var(--text-color-title);
    font-size: var(--font-size);
  }

  .text-section__information {
    color: var(--text-color-description);
  }

  .section__container-img {
    margin: 0 20px;
    display: grid;
    gap: 20px;
  }

  .images-of-tips {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .container__article-image {
    margin: 0 auto;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
    ;
  }

  .footer::after {
    content: "";
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    top: 20px;
    border-top: 1px solid var(--border-color-frame);
    border-right: 1px solid var(--border-color-frame);
  }

  .footer::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid var(--border-color-frame);
    border-left: 1px solid var(--border-color-frame);
  }

  .footer {
    position: relative;
    margin-top: 60px;
    display: grid;
    justify-content: center;
  }
}

@media (width >=1024px) {
  .decorated-zone {
    min-height: 768px;
  }

  .bulb {
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    top: 20px;
    right: 28px;
    text-transform: uppercase;
    width: 52px;
    display: var(--display-bulb);
  }

  .bulb::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 20px;
    margin: 27px 0 0 17px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    color: var(--other-text-color);
  }

  .cover__description {
    max-width: 48%;
    margin-top: 50px;
  }

  .cover__description-text {
    display: grid;
    color: var(--text-color-title);
    font-weight: var(--font-weight-main-text);
    line-height: 23.4px;
    font-family: var(--main-font-family), monospace, serif;
  }

  .content {
    display: grid;
    gap: 80px;
    margin-top: 60px;
  }

  .container__article {
    display: grid;
    gap: 20px;
  }

  .section__information {
    grid-template-rows: auto 1fr;
  }

  .gap {
    gap: 0px;
  }
  
}