/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #000028;
  --font-size: 18px;
  --font-weight-main-text: bold;
}
