/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --main-font-family: 'IBM Plex Mono';
  --bg-color: #000028;
  --font-size: 18px;
  --font-weight-main-text: bold;
  
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --text-color-title: #000028;
    --text-color-description: #F1B2CE;
    --other-text-color: #FF0070;
    --bd-out-but: 1px solid #FF0070;
    --bd-focus-but: 1px solid #FF0070;
    --bd-hover-but: 1px solid #FF007066;
    --bd-focus-link: 1px solid #F1B2CE;
    --bd-hover-link: 1px solid #F1B2CE;
    --bg-color-title: #FF0070;
    --color-slogan: #DB00FF;
    --text-shadow-slogan: 4px 4px 0px #FF0070;
    --text-shadow-link: 2.5px 2px 0px #FF0070;
    --border-color-frame: #FF0070;
    --display-bulb: block;
    --bg-img: url('../images/cover-image-dark.png');
    --bg-color: #000028;
  }
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --text-color-title: #353430;
    --text-color-description: #353430;
    --bg-color-title: #FF8DCB;
    --color-slogan: #FFC2E6;
    --text-shadow-slogan: 4px 4px 0px #FF8DCB;
    --display-bulb: none;
    --other-text-color: #353430;
    --bd-out-but: 1px solid #353430;
    --bd-focus-but: 1px solid #353430;
    --bd-hover-but: 1px solid #32312D66;
    --bd-focus-link: 1px solid #353430;
    --bd-hover-link: 1px solid #353430;
    --text-shadow-link: 2.5px 2px 0px #FF8DCB;
    --border-color-frame: #353430;
    --bg-img: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
  }
}
